{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=MuseoModerno&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <title>home</title>
    <link rel="stylesheet" href="{%static 'style/index.css' %}">

</head>
<body>
    <div class="body">
        <div class="header">
            <h1>home</h1>

            <div class="bar">
                <a style="color:cornflowerblue;">home</a>
                <a>properties</a>
                <a>Service</a>
                <a>about</a>
                <a>contacts</a>

            </div>
            <div class="sign">
            <span class="material-symbols-outlined">
                person
                </span>
             <a>sign in</a>
            </div>



        </div>
        <div class="mid">
            <div class="mid-head">
            <h1>FIND YOUR DREAM</h1>
            </div>
            <div  class="mid-footer">
            <p>our catalag will surpirse you. Rather, discover an unprecedented offers of luxury properties</p>
            <div class="button"><a href="#">
                catalog
            </a></div>
            </div>

        </div>
        <div class="footer">
                <div class="footer-bar">
                    <div>
                    <span class="material-symbols-outlined" style="color: cornflowerblue;">
                        domain
                        </span>
                        <p style="color: cornflowerblue;">All</p>
                    </div>

                    <div>
                        <span class="material-symbols-outlined" style="color: rgb(83, 221, 198);">
                            joystick
                            </span>
                            <p>land lots</p>
                        </div>

                        <div>
                            
                            <span class="material-symbols-outlined" style="color: rgb(53, 208, 61);">
                                meeting_room
                                </span>
                                <p>office</p>
                            </div>
                            <div>
                                <span class="material-symbols-outlined" style="color: rgb(219, 237, 100);">
                                    storefront
                                    </span>
                                    <p>store</p>
                                </div>
                                <div>
                                    <span class="material-symbols-outlined" style="color: rgb(237, 107, 100);">
                                        apartment
                                        </span>
                                        <p>apartment</p>
                                    </div>
                                    <div>
                                        <span class="material-symbols-outlined" style="color: rgb(237, 100, 203);">
                                            home_work
                                            </span>
                                            <p>villa</p>
                                        </div>
                                        <div>
                                            <span class="material-symbols-outlined" style="color: rgb(105, 100, 237);">
                                                house
                                                </span>
                                                <p>house</p>
                                            </div>
                                           
                </div>

            

            </div>

        </div>

    </div>
    
</body>
</html>