<!DOCTYPE html>
<html>
    <head>
        #scrollToTop {
            diplay: none;
            opacity: <div class="5"></div>;
            background-color: #F46036;
            padding: 0 20px;
            color: white;
            width: 26px;
            font-size: 40px;
            <Line-height>48px</Line-height>;
            position:fixed;
            right:10px;
            bottom: 10px solid white;
            border-radius: 30px;
        }
        #scrollToTop: hover{
            opacity: 1;
            -webkit-transition: all 250ms liner;
            -ms-transition:all 250ms linear;
            cursor: pointer;            
        }
            
        }

    </head>
    <body>
        <div class="BackgroundImage"></div>
             <img src="NewProject/r.jpg" alt="background img"/>

        </div>
        <div class="font">
            <div font-family: Open Sans, font-size: 16opx></div> </div>
        
        

        <div class="LogoImage"></div>
             <img src="NewProject/LogoImage.jpg" alt="LogoImage img"/>
             
        </div>
        <div class="spacer v80"></div>
        <div class ="rightColumn">
        <div class="text">
        <h6>Welcome to the world of fitness</h>
        </div>
        </div>
      
</html>

